<% include ./partials/header %>
<% blog.forEach(function(blogs){ %>
<div class="container">
  <div class="row">
    <div class="col-md-8 ">
      <div class="card mb-4">
        <h2 class="card-title"><%=blogs.title%>
        </h2>
        <%
        if(blogs.image!=="")
        {
          %>
          <img class="card-img-top img-thumbnail" src="<%=blogs.image%>" alt="Card image cap">
          <%
        }%>
        <div class="card-body">
          <p class="card-text"><%=blogs.body%>
          </p>
          <h2 class="date"><%=blogs.created.toDateString()%>
          </h2>
          <% if(currentUser) {%>
          <a href="/blogs/<%=blogs._id%>" class="btn btn-dark btn-sm">Read More &rarr;
          </a>
        <%}%>
        </div>
      </div>
    </div>
  </div>
</div>
<%})%>
<% include ./partials/footer %>